<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand"  href="{% url 'index' %}">BRAND</a>
    <ul class="navbar-nav mr-auto">
       <li class="nav-item active">
              <a class="nav-link"  href="{% url 'admin:index' %}">ADMIN</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="{% url 'basic_app:other' %}">OTHERS</a>
            </li>
        </div>
    </nav>
    <div class="container">
      {% block body_block %}

    {% endblock %}


    </div>
  </body>
</html>
